/* Botones flotantes */
.floating-buttons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 999;
}

.floating-buttons button {
  background-color: #00ffff;
  color: #000;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 10px #00ffffaa;
}

.floating-buttons button:hover {
  background-color: #00cccc;
}
